<ServiceExport__Array>
  <CategoryExport>
    <id>/</id>
    <name>General</name>
    <description>Category Root</description>
  </CategoryExport>
  <WsdlServiceExport>
    <id>NOAA</id>
    <name>NOAA</name>
    <description>The weather forecast as provided by NOAA.  More information about this API can be found on http://graphical.weather.gov/xml/SOAP_server/ndfdXMLserver.php.</description>
    <tags/>
    <categories>
      <string>/</string>
    </categories>
    <providerName>NONE</providerName>
    <serviceType>WSDL</serviceType>
    <status>ON</status>
    <servicePermissions>
      <PermissionExport>
        <action>execute</action>
        <principals>
          <Principal>
            <id>3</id>
            <principalId>Presto_AuthenticatedUser</principalId>
            <principalTypeId>SpecialGroup</principalTypeId>
          </Principal>
        </principals>
      </PermissionExport>
    </servicePermissions>
    <operationsPermissions>
      <entry>
        <string>GmlTimeSeries</string>
        <PermissionExport__Array/>
      </entry>
      <entry>
        <string>LatLonListCityNames</string>
        <PermissionExport__Array/>
      </entry>
      <entry>
        <string>NDFDgenByDay</string>
        <PermissionExport__Array/>
      </entry>
      <entry>
        <string>NDFDgenLatLonList</string>
        <PermissionExport__Array/>
      </entry>
      <entry>
        <string>NDFDgen</string>
        <PermissionExport__Array/>
      </entry>
      <entry>
        <string>LatLonListZipCode</string>
        <PermissionExport__Array/>
      </entry>
      <entry>
        <string>CornerPoints</string>
        <PermissionExport__Array/>
      </entry>
      <entry>
        <string>NDFDgenByDayLatLonList</string>
        <PermissionExport__Array/>
      </entry>
      <entry>
        <string>LatLonListSubgrid</string>
        <PermissionExport__Array/>
      </entry>
      <entry>
        <string>GmlLatLonList</string>
        <PermissionExport__Array/>
      </entry>
      <entry>
        <string>LatLonListSquare</string>
        <PermissionExport__Array/>
      </entry>
      <entry>
        <string>LatLonListLine</string>
        <PermissionExport__Array/>
      </entry>
    </operationsPermissions>
    <attributes/>
    <createdBy>admin</createdBy>
    <wsdlUrl>http://graphical.weather.gov/xml/SOAP_server/ndfdXMLserver.php?wsdl</wsdlUrl>
    <republish>false</republish>
    <endpointUrl>http://graphical.weather.gov/xml/SOAP_server/ndfdXMLserver.php</endpointUrl>
  </WsdlServiceExport>
</ServiceExport__Array>